@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  height: 100%;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

/* ГЛАВНАЯ СТРАНИЦА */

/* Шапка */
.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 28px;
  padding: 0;
  width: 140px;
  Height: 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 450px;
  margin-right: auto;
}

.navigation-list > .navigation-item > .navigation-link {
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 320px;
}

.navigation-link-search,
.navigation-link-favorite {
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.navigation-link.navigation-link-button {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
}

/* Главный заголовок */

.greeting-logo {
  display: block;
}

.hero {
  background-color: #A4766B;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 370px 82px;
}

.lead-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.lead-text-1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

.lead-description-1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

/* Преимущества  */

.advantages-wide-text {
  padding: 103px 85px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.20);
}

.advantages-item-wide {
  background-color: #82B3D3;
  display: flex;
  color: #ffffff;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-wide > .advantages-item-container > .advantages-description {
  color: #ffffff;
}

/* Особенности */
.lead-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.lead-text-2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.lead-description-2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.features-item {
  padding: 81px 85px;
}

.features-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.features-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/* Обратная связь */
.feedback {
  text-align: center;
  padding: 96px 304px;
}

.feedback-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.feedback-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 54px;
}

.feedback-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 376px;
  padding: 8px 50px;
}

/* Подписка на рассылку */
.subscribe {
  background-color: #A4766B;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  padding: 96px 258px 104px;
}

.subscribe-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-style: hidden;
}

.field {
padding: 12px 20px;
gap: 260px;
width: 452px;
background: #F2F2F2;
border-radius: 4px 0 0 4px;
border-style: hidden;
}


/* Футер */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social {
  max-width: 300px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  display: block;
  min-width: 48px;
  min-height: 40px;
  padding: 13px;

  outline: 2px solid green;
}

.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

/*КАТАЛОГ*/

/* Фильтрация */
.catalog-filter-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 35px 70px 70px;
  background-color: #A4766B;
  background-image: url("../images/catalog-filter.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-list {
  display: flex;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-apply {
  width: 191px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  background: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Отели */
.hotels-wrapper {
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.button-view {
  width: 48px;
  height: 48px;

  /* Icons/basic */

  border: 2px solid #000000;
  border-radius: 4px;
}

.searched {
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  padding: 14px 20px;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/* Список товаров */
.hotel-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 40px;
}

.hotel-card {
  display: grid;
  width: 300px;
  padding: 20px;
  margin-right: 20px;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-card-more {
  height: 36px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-card-choose {
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-card-chosen {
  width: 140px;
  background: #7DB54F;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Пагинация */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.pagination-none {
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-catalog {
  text-align: center;
  color: #FFFFFF;
  padding: 96px 258px 104px;
}

.subscribe-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
  color: #333333;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-style: hidden;
}

.field {
padding: 12px 20px;
gap: 260px;
width: 452px;
background: #F2F2F2;
border-radius: 4px 0 0 4px;
border-style: hidden;
}
